
body{
  background-color: black;
}

h1 {
    text-align:center;
    font-family: "Pattaya", sans-serif;
    color:white;
    
}
h4 {
  text-align:center;
}
.middle{
  text-align:center;

}
#map{

 
 
  
   background-size:contain;
           background-repeat: no-repeat;
        background-position: 50% 50% ;
  
}
#phillyMap{
  height:158%;
  width:100%;
  
}

.grid {
    background-image:url('AdobeStock_313453946.jpeg');
    background-size:contain;
    border: 2px black solid;
    width: 1170px;
    height: 600px;
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    grid-gap: 10px;
       
}

.map { 
display: grid;
grid-template: repeat(11, 1fr) / repeat(1, 1fr);
grid-gap: 3px; 
justify-items: center;
justify-content: center;
padding-top: 15px;
grid-row: 2/ span 11;
grid-column: 9/ span 6;
text-align: left;
font-family: fantasy;
height: 450px;
}
.input{
  width: 300px;
}




#addButtons{
  grid-row: 15/ span 1;
grid-column: 9/ span 6;
 padding-left: 4px;
 border-radius: 10px;
 
}
.addBut{
  width: 49%;
  border-radius: 12px;
  color:black;
  background-color: white; 
  border: 2px black solid;
  border-radius: 10px;
}

.buttonClubs {
  background-color: white; 
  height: 27px;
  width: 400px;
  border: 2px black solid;
  border-radius: 10px;
  font: bold 8pt Arial, Helvetica, sans-serif;
  text-align: center;
}
#nextChess{
  height: 25px;
  width: 100px; 
}
.buttonTournaments {
  background-color: white; 
  height: 27px;
  width: 400px;
  border: 2px black solid;
  border-radius: 10px;
  font: bold 8pt Arial, Helvetica, sans-serif;
  text-align: center;
}

.map1 {

    grid-row: 9/ span 6;
grid-column: 3/ span 5;

}
.map1Button{
  grid-row: 15/ span 1;
grid-column: 3/ span 5;
background-color: white;
border-radius: 10px;

}

.tourBox {
 
   color:black;
  background-color: white;
  
  
grid-row: 2/ span 7;
grid-column: 3/ span 5;
}


.box {
    background-color:lightgray;
    color: black;
    border-radius: 5px;
    border: 2px black solid;
}


#tour-buttons {
     display: grid;
grid-template: repeat(5, 1fr) / repeat(1, 1fr);
grid-gap: 10px;
padding-top: 15px; 
justify-items: center;
border-radius: 10px;
    
        
}

.tour{
  width: 300px;
  background-color: white;
  border: 2px black solid;
  border-radius: 10px;
 
}
#userPosition{
background-color: white;
border-radius: 10px;
}

form {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(1, 1fr);
  grid-gap: 5px; 
  justify-items: center;
  justify-content: center;
  padding-top: 15px;

}

.input{
  border: 2px black solid;
  width: 400px;
  height: 27px;
}
.input1{
  border: 2px black solid;
  width: 400px;
  height: 25px;
}

  #tourForm{
      display: grid;
  
  grid-gap: 0px; 
  grid-auto-rows: auto;
  row-gap: 0px;
  height: calc(100vh - 200px);
  padding-top: 0px;

  }

#Submit{
  color: black;
  border: 1px black solid;
  background-color: white;
  height: 30px;
  border-radius: 12px;
}
li {
    list-style-type: none;
    padding-left: 10px;
}
